* {
	margin: 0 auto;
	color: white;
}

section {
	margin: 3vh 3px;
	height: 94vh;
	border: solid grey 2px;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 4rem;
	margin-bottom: 4rem;
}

p {
	margin: 5px auto;
}